
*.bak
*.htm

*.map
*.dep
*.uvgui.*
JLinkLog.txt
JLinkSettings.ini

*.udb

*.uvguix.*
*.scvd

project/DebugConfig/
project/Objects/
.vscode/
components/utilities/src_packager_v1.0.0/*.bin 
components/utilities/src_packager_v1.0.0/*.src_update
components/utilities/src_packager_v1.0.0/*.ini
components/utilities/binHEBING/*.bin
si/
.idea/
.clang-format
out/bootloader/*
out/os/*
*.src_update
*.code-workspace